body{
	font-family: 'Roboto', sans-serif;
	background: #fff;
	background-size: cover;
	font-size: 19px;
	/*text-shadow: 2px 2px #000;*/
	color: #333;
}

header {
    background: #1a1a18;
    padding: 20px 0 20px;
    color: #fff;
    margin-bottom: 5px;
}


h1{
	margin-bottom: 20px;
}

a:hover{
	text-decoration: none;
}

ul {
	margin: 20px 0px;
	color:  #cc0820;
}

ul li {
	margin-top: 10px;
}

.headblock{
	margin-bottom: 0;
	box-shadow: 19px 3px 10px #888888;
	padding: 0;
}

.invitados{
	height: 600px;
}

.listado{
	margin: 50px;
}

.inv p {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
}

.inv input, .inv select, input[type=submit], #btn_enviar_seleccion{	
	background: rgba(255,255,255,.1);
	background-color: #EFF6EE;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    outline: 0;
	margin-bottom: 20px;
	border: solid 1px;
	border-color: rgba(0, 0, 0, 0.76);
	border-radius: 5px;
	height: 50px;
	width: 100%;
	text-align: left;
	padding-left: 15px;
	color: #333;
	font-size: 15px;
}

.inv input:focus, .inv select:focus {
	background-color: #AAAAAA;
}

input[type=submit], button, #btn_enviar_seleccion {
	background: #cc0820;
    color: #fff;
    border-radius: 5px;
    border: solid 1px;
    margin: 15px auto;
    display: block;
}


button, #btn_enviar_seleccion {
	line-height: 50px;
}

.logo{
	max-width: 70%;
    margin: 20px auto;
    display: block;
}

.enviar{
	background-color: transparent;
	border: none;
}

.box-area {
	margin-bottom: 20px;
}
#calidad{
	    width: -webkit-fill-available;
}

#completa-form {
	margin-bottom: 20px;
	display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
}

.hide_text{
	display: none;
	margin-bottom: 10px;
}

.hide_text strong {
	color: #cc0820;
}

.btn-enviar{
	opacity: 0.6;
}

#tipo-asado {
	text-transform: uppercase;
	font-weight: 700;
}

.top-menu a:hover{
	color: #cc0820;
}

#footer {
	background: rgba(0, 0, 0, 1);
	color: #fff;
    font-size: 13px;
    text-align: left;
    padding: 20px 0;

}

#footer a{
	color: #a03412;
}

.footer-logo {
	display: block;
	margin: 0 auto;
	width: 150px;
}

.banner-area img {
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
}

.top-menu {
    text-align: right;
}

.top-menu a {
	 color: #ddd;
	 padding: 0 10px;
}

.term-message-wrapper {
	float: right;
	margin: 10px;
}



.bton-curso {
	padding-left: 50px;
}

.btn-danger {
	background: #cc0820;
}


@media (max-width: 991px) {

#footer {
    text-align: center;

}

.footer-logo {
    margin-top: 20px;
}




