body{
	font-family: 'Comfortaa', cursive;
	background-color: #f6bf26;
}
h1{
	margin: 50px;
}
.headblock{
	margin-bottom: 0;
	box-shadow: 19px 3px 10px #888888;
	padding: 0;
}

.invitados{
	height: 600px;
}

.listado{
	margin: 50px;
}
.inv{
	margin: 20px;
	text-align: center;
	color: white;
}
.inv input{	
	border: solid black 2px;
	background-color: transparent;
	height: 50px;
	width: 200px;
	text-align: center;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.logo{
	text-align:center;
	width: 30%;
}
#calidad{
	background-color: transparent;
	border: none;
}
.enviar{
	background-color: transparent;
	border: none;
}

